<!DOCTYPE html>
<html lang="pl">

<head>
    <% title=title.concat(" | Welcome!") %>
        <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="main-wrap container is-flex is-flex-wrap-wrap is-justify-content-space-between">
                <div class="article lead">
                    <h1 class="title is-2">
                        <span class="has-primary-color is-capitalized"><%= data.title %></span>
                    </h1>
                    <div class="article-body">
                        <%- html %>
                    </div>
                    
                </div>
                <div class="photo-box is-half">
                    <img class="photo" src="./photo.jpg" alt="Patryk Prusinowski">
                </div>
            </div>
        </main>
        <%- include('./partials/footer') -%>
</body>

</html>